/autom4te.cache
/configure
/config.guess
/config.log
/config.status
/config.sub

*~
*.Plo
*.o
*.lo
*.a
*.la
*.lai
*.so
*.so.*
Makefile
Makefile.in
.deps
.libs


src/L
src/c_output
libtool
doc/texinfo.tex
